data/
.vscode/
build/
*.csv
*.obj
/bunny
/block
a/
a_qem
ABC/
ABC_new/
ablation/
ABC_Ablation/
*.log 
block_cover/
block_new/
bunny_10000/
face_method/
fix/
gallery/
gear/
gear_qem/
inout/
man/
man_cover/
mobius/
nonmanifold/
organic_models/
result/
*.txt
*.out
*.xyz
test/